@charset "UTF-8";
/*Color variables*/
/* color10*/
/* color10*/
/* color9*/
/* color9*/
/* color8*/
/* color8*/
/* color7*/
/* color7*/
/* color6 */
/* color6 */
/* color5 */
/* color5 */
/* color4 */
/* color4 */
/* color3 */
/* color3 */
/* color2*/
/* color2*/
/* color1*/
/* color1*/
/**default color variables**/
/**default colors**/
/*white variables*/
/*black variables*/
/***********dark-theme**************/
.header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: linear-gradient(120deg, #0f75ff 60%, #9d37f6 100%);
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: rgba(181, 201, 227, 0.12) 0 0 0 1px, rgba(181, 201, 227, 0.24) 0 1px 0 0;
          box-shadow: rgba(181, 201, 227, 0.12) 0 0 0 1px, rgba(181, 201, 227, 0.24) 0 1px 0 0;
  background: #fff;
}

.app-header1.header {
  background: #fff;
}

.nav-search .form-control.header-search {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  color: #24273c;
  padding-left: 20px;
  padding-right: 0;
  margin-right: -6px;
  width: 200px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}

.form-inline .form-control {
  background: #fff;
  border: 1px solid #dee2e6 !important;
  border-radius: 3px;
  color: #24273c;
  padding-left: 20px;
  padding-right: 0;
  margin-right: -6px;
  width: 200px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}

.form-inline .form-control:focus, .form-inline .form-control:hover {
  border: 1px solid #dee2e6 !important;
}

.form-inline .btn {
  border-radius: 0;
  border-color: transparent;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.form-inline .form-control::-webkit-input-placeholder {
  color: #605e7e;
}

.nav-search {
  padding-right: 15px !important;
  padding-top: 5px !important;
}

.navbar-nav .input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-width: 2.5rem;
  pointer-events: none;
  color: #fff;
}

.form-control::-webkit-input-placeholder {
  color: #605e7e;
}

.nav-link.navsearch-icon {
  color: #374254;
}

.navbar .form-inline .btn {
  border-radius: 0;
  padding: 5px 15px 6px 15px;
  border: 2px solid #9d37f6;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

@media (min-width: 1024px) {
  .form-inline .form-control {
    width: 180px;
  }
}

@media (max-width: 1024px) {
  body.search-show:before, body.sidebar-show:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 891;
  }
  body.search-show {
    overflow: hidden;
  }
  body.search-show .header {
    z-index: 892;
  }
  body.sidebar-show {
    overflow: hidden;
  }
}

@media (max-width: 992px) {
  body.search-show .form-inline .nav-search {
    display: block;
  }
  .search-show .nav-search {
    padding: 15px !important;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
  }
  .form-inline .nav-search {
    position: absolute;
    right: 24px;
    z-index: 892;
    display: none;
  }
  .form-inline .nav-search .btn {
    margin-top: 0 !important;
    border-radius: 0 3px 3px 0;
  }
  .form-inline .nav-search .form-control {
    float: left;
    width: calc(100% - 41px);
    display: block;
  }
}

@media (max-width: 414px) {
  .nav-link.navsearch-icon {
    font-size: 20px;
    margin-top: 12px;
    padding-left: 10px;
  }
}

@media (min-width: 414px) and (max-width: 1366px) {
  .nav-link.navsearch-icon {
    font-size: 20px;
    margin-top: 12px;
    padding-left: 10px;
  }
}

.header-search {
  padding: 0;
}

.nav-link.icon i {
  color: #504e70;
}

.app-content .page-header {
  margin: 0 -30px;
  padding: 0.75rem 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(167, 180, 201, 0.3);
  background: 0 0;
  min-height: 0;
}

.app-content .page-header .page-title {
  line-height: 0;
}

@media (max-width: 480px) {
  .app-content .page-header {
    margin: 0 -30px;
    padding: 0.75rem 2rem !important;
    margin-bottom: 2rem;
  }
  .app-content .page-header .page-title {
    margin-bottom: 5px !important;
    line-height: 1.5rem !important;
  }
}

@media (max-width: 567px) {
  .app-content .page-header {
    margin: 0 -30px;
    padding: 2rem 2.1rem 1.2rem 2.1rem;
    margin-bottom: 2rem;
  }
}

.error-img {
  background: #f6f7fb;
}

.error-img .text-dark {
  color: #605e7e !important;
}

.error-img:before {
  background: #f6f7fb;
}

.highlight pre {
  background-color: #efeef7 !important;
}

.user-tabs ul li {
  border-left: 2px solid rgba(167, 180, 201, 0.3);
}

.user-tabs ul li a.active {
  background: #199319 ;
  color: #fff;
}

.user-tabs ul li:first-child {
  border-left: 0;
}

.user-tabs ul li a {
  padding: 4px 15px;
  font-size: 15px;
  margin: 2px;
  display: block;
  border-radius: 4px;
}

@media (max-width: 568px) {
  .user-tabs ul li {
    width: 100%;
    display: contents;
    text-align: center;
  }
  .user-tabs ul li a {
    width: 100%;
  }
}

.mail-option .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.timelineleft > li > .timelineleft-item {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #e8ebf3;
  border-radius: 4px;
}

.btn-group-xs > .btn,
.btn-xs {
  font-size: 0.7rem;
  line-height: 17px;
  padding: 0.02rem 0.5rem;
}

#count-down-1 {
  margin: 20px 0;
}

#count-down-1 .clock-presenter {
  height: 80px;
  padding: 0;
  text-align: center;
}

#count-down-1 .clock-presenter .digit {
  margin-top: 20px;
  font-size: 2rem;
  line-height: 40px;
  height: 40px;
  padding: 0 7px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: default;
  background: #fff;
  color: #605e7e;
  border-radius: 3px;
}

#count-down-1 .clock-presenter .note {
  position: relative;
  margin-bottom: 0;
  cursor: default;
  font-size: 16px;
  opacity: 0.7;
}

@media (max-width: 992px) {
  #count-down-1 .clock-presenter .digit {
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  #count-down-1 .clock-presenter {
    width: 50%;
    float: left;
  }
  #count-down-1 .clock-presenter .digit {
    font-size: 36px;
  }
  #count-down-1 .hours_dash {
    border-right: none;
  }
}

.modal-body .select2-container {
  width: 100% !important;
}

.richText .richText-editor {
  height: 200px !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    width: 800px;
  }
}

@media (max-width: 575.98px) {
  .app-content .side-app {
    padding: 38px 10px 0 10px !important;
  }
}

@media (min-width: 568px) and (max-width: 992px) {
  .app-content .side-app {
    margin-top: 23px;
  }
}

.dash3-counter .counter-icon {
  border: 0;
}

.mail-option .btn-group a.btn,
.mail-option .chk-all {
  background: 0 0;
}

.header-brand-img {
  width: 167px;
  height: auto;
  vertical-align: middle;
  margin-top: 5px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #199319 ;
  background-color: #199319 ;
}

@media (max-width: 495px) {
  .nested-media .media-body {
    padding-top: 5px;
    margin-left: 0px;
  }
  .nested-media .media {
    display: block !important;
  }
}

.media.media-lg img {
  width: 70px;
  height: 70px;
}

.content,
.content1 {
  height: 270px;
  max-height: 270px;
  position: relative;
}

@media (min-width: 992px) {
  *::-ms-backdrop,
  .card-img-top {
    height: 180px;
  }
  *::-ms-backdrop,
  .cover-image {
    height: 220px;
  }
  *::-ms-backdrop,
  .avatar.cover-image {
    height: 2rem;
  }
  *::-ms-backdrop,
  .avatar.avatar-sm {
    height: 1.5rem;
  }
  *::-ms-backdrop,
  .avatar.avatar-md {
    height: 2.5rem;
  }
  *::-ms-backdrop,
  .avatar.avatar-lg {
    height: 3rem;
  }
  *::-ms-backdrop,
  .avatar.avatar-xl {
    height: 4rem;
  }
  *::-ms-backdrop,
  .avatar.avatar-xxl {
    height: 5rem;
  }
  *::-ms-backdrop,
  .card-profile.cover-image {
    height: 250px;
  }
  *::-ms-backdrop,
  #profile-log-switch .table-borderless tbody + tbody,
  .table-borderless td,
  .table-borderless th,
  .table-borderless thead th {
    display: -ms-flexbox;
  }
  *::-ms-backdrop,
  .card-aside-column.cover-image {
    height: 160px;
  }
}

@media (max-width: 767px) {
  .header-right .responsive-navbar .navbar-collapse {
    position: fixed;
    left: 0;
    background: #fff;
    width: 100%;
    margin-top: 112px;
    border-bottom: 1px solid #e8ebf3;
    border-top: 1px solid #e8ebf3;
  }
  .header-right .responsive-navbar .navbar-collapse .dropdown-menu {
    margin-top: 0;
  }
  .header-right .responsive-navbar .navbar-collapse .dropdown-menu.dropdown-menu-arrow.dropdown-menu-end {
    left: 0 !important;
  }
  .header-right .responsive-navbar .navbar-collapse .dropdown-menu.dropdown-menu-arrow.dropdown-menu-end:before {
    display: none;
  }
  .header-right .responsive-navbar .navbar-collapse .dropdown-menu.dropdown-menu-arrow.dropdown-menu-end:after {
    display: none;
  }
  .header-right .responsive-navbar .dropdown {
    position: initial;
  }
  .header-right .country-selector .leading-none {
    line-height: 3 !important;
  }
  .header-right .navresponsive-toggler {
    color: #605e7e;
    padding: 0;
    margin-right: 0.5rem;
    margin-top: 7px;
    line-height: 2.4;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    background-color: none;
    border-radius: 7px;
  }
  .header-right .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .app-header1 .header-brand {
    min-width: auto !important;
    text-align: left;
  }
}

.header-right .navbar-toggler {
  line-height: 2.2;
  color: #605e7e;
  background: transparent;
}

@media (min-width: 768px) {
  .app-header1 .collapse:not(.show) {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .app-header1 .form-inline .nav-search {
    display: none;
  }
}

@media (max-width: 767px) {
  .search-show .header-right .responsive-navbar .navbar-collapse {
    margin-top: 130px;
  }
}

.bootstrap-tagsinput {
  height: 100%;
}

.bootstrap-tagsinput input {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: #343a40;
  padding: 0 6px;
  margin: 0;
  border-radius: 3px;
  font-family: initial;
  font-size: initial;
  line-height: initial;
  width: 100%;
  word-wrap: break-word;
  white-space: break-spaces;
}

.bootstrap-tagsinput .badge {
  width: 100%;
  word-wrap: break-word;
  white-space: break-spaces;
  margin-bottom: 2px;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .badge [data-role="remove"]::after {
  content: "×";
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 0px 4px;
  border-radius: 50%;
}

.richText .richText-toolbar ul li a .richText-dropdown-outer .richText-dropdown {
  height: 300px;
  overflow: auto;
  overflow-x: hidden;
}

.header-1 .header,
.header-2 .header,
.header-3 .header,
.header-4 .header {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #e8ebf3;
}

.header-1 .header.collapse,
.header-2 .header.collapse,
.header-3 .header.collapse,
.header-4 .header.collapse {
  border-bottom: 0;
}

.footer.footer-style .social ul li {
  float: none;
}

.masonry .brick {
  width: auto;
  margin-bottom: 20px;
}

#navbarSupportedContent-4 .dropdown .dropdown-menu-end .dropdown-item {
  overflow: hidden;
}

@media (max-width: 767px) {
  .header-right .responsive-navbar .navbar-collapse .dropdown-menu.dropdown-menu-arrow.dropdown-menu-end {
    left: 10px !important;
    right: 10px !important;
  }
}

@supports (-webkit-touch-callout: none) {
  @media screen and (max-device-width: 767px) and (orientation: portrait) {
    .header-right .responsive-navbar .navbar-collapse {
      margin-top: 55px;
    }
    .ps:hover > .ps__rail-x,
    .ps:hover > .ps__rail-y,
    .ps--focus > .ps__rail-x,
    .ps--focus > .ps__rail-y,
    .ps--scrolling-x > .ps__rail-x,
    .ps--scrolling-y > .ps__rail-y {
      opacity: 0 !important;
    }
  }
  @media screen and (max-device-width: 991px) and (orientation: landscape) {
    .header-right .responsive-navbar .navbar-collapse {
      margin-top: 55px;
    }
    .ps:hover > .ps__rail-x,
    .ps:hover > .ps__rail-y,
    .ps--focus > .ps__rail-x,
    .ps--focus > .ps__rail-y,
    .ps--scrolling-x > .ps__rail-x,
    .ps--scrolling-y > .ps__rail-y {
      opacity: 0 !important;
    }
  }
}

ul.inbox-pagination {
  float: right;
}

ul.inbox-pagination li {
  float: left;
}

.res-select .select2-container {
  width: 100px !important;
}

.table.card-table > :not(caption) > * > * {
  border-bottom-width: 0;
}

.dropify-wrapper .dropify-message span.file-icon {
  font-size: 30px !important;
}

.accordionjs .acc_section {
  z-index: 9 !important;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.app-header1.header .header-navsearch .form-inline .nav-search .btn {
  line-height: 1.79465385;
}

/******************RTL Start*************************/
.rtl .nav-search .form-control.header-search {
  padding-left: 0;
  padding-right: 20px;
  margin-right: auto;
  margin-left: -6px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-right: 1px solid #e8ebf3;
  border-left: 0;
}

.rtl .form-inline .form-control {
  padding-left: 0;
  padding-right: 20px;
  margin-right: auto;
  margin-left: -6px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-right: 1px solid #e8ebf3;
  border-left: 0;
}

.rtl .form-inline .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.rtl .nav-search {
  padding-right: inherit !important;
  padding-left: 15px !important;
}

.rtl .navbar-nav .input-icon-addon {
  right: auto;
  left: 8px;
}

.rtl .navbar .form-inline .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

@media (max-width: 992px) {
  .rtl .form-inline .nav-search {
    right: 0;
    left: 24px;
  }
  .rtl .form-inline .nav-search .form-control {
    float: right;
  }
}

@media (max-width: 414px) {
  .rtl .nav-link.navsearch-icon {
    padding-left: inherit;
    padding-right: 10px;
  }
}

@media (min-width: 414px) and (max-width: 1366px) {
  .rtl .nav-link.navsearch-icon {
    padding-left: inherit;
    padding-right: 10px;
  }
}

.rtl .user-tabs ul li {
  border-left: 0;
  border-right: 2px solid rgba(167, 180, 201, 0.3);
}

.rtl .user-tabs ul li:first-child {
  border-left: 1px solid #e8ebf3;
  border-right: 0;
}

@media (max-width: 767px) {
  .rtl #count-down-1 .clock-presenter {
    float: right;
  }
  .rtl #count-down-1 .hours_dash {
    border-right: 1px solid #e8ebf3;
    border-left: none;
  }
}

@media (max-width: 495px) {
  .rtl .nested-media .media-body {
    margin-left: auto;
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .rtl .header-right .responsive-navbar .navbar-collapse {
    left: auto;
    right: 0;
  }
  .rtl .header-right .navresponsive-toggler {
    margin-right: auto;
    margin-left: 0.5rem;
  }
  .rtl .app-header1 .header-brand {
    text-align: right;
  }
}

.rtl .bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: auto;
  margin-right: 8px;
}

.rtl .card .card-body .item-card7-text .icon-card li a.icons i {
  float: right;
  margin-top: 2px;
}

.rtl .card .card-body .item3-medias .media .media-body .item3-lists li a i {
  float: right;
  margin-top: 4px;
}

.rtl .app-sidebar .side-menu .slide .side-menu__item .angle.fa-angle-right:before {
  content: "\f104";
}

.rtl .app-sidebar .side-menu .slide .slide-menu .sub-slide .sub-slide-item .sub-angle.fa-angle-right:before {
  content: "\f104";
}

.rtl .app-sidebar .side-menu .slide .slide-menu .sub-slide .sub-slide-menu .sub-slide2 .sub-slide-item2 .sub-angle2.fa-angle-right:before {
  content: "\f104";
}

.rtl .mail-option .unstyled.inbox-pagination li a.np-btn .pagination-right.fa-angle-right:before {
  content: "\f104";
}

.rtl .card.store td span {
  float: right;
}

.rtl .btn-icon-list button.btn i {
  float: right;
  margin-top: 5px;
}

.rtl .btn-animation .btn-loaders:after {
  border-right-color: inherit !important;
  border-left-color: transparent !important;
  right: auto !important;
  left: 20px !important;
}

.rtl .pagination .page-item .page-link .fa-angle-right:before {
  content: "\f104";
}

.rtl .pagination .page-item .page-link .fa-angle-left:before {
  content: "\f105";
}

.rtl .pagination .page-item .page-link .fa-angle-double-right:before {
  content: "\f100";
}

.rtl .pagination .page-item .page-link .fa-angle-double-left:before {
  content: "\f101";
}

.rtl .breadcrumb-item2 + .breadcrumb-item2::before {
  content: "\e932";
}

.rtl .breadcrumb1 .breadcrumb-item1 i {
  float: right;
  margin-top: 5px;
}

.rtl .price svg text {
  -webkit-transform: matrix(1, 0, 0, 1, 300.7256, 116.2686);
  transform: matrix(1, 0, 0, 1, 300.7256, 116.2686);
}

.rtl #carousel-captions2 .carousel-control-prev {
  right: 0;
}

.rtl #carousel-captions2 .carousel-control-next {
  right: auto;
  left: 0;
}

.rtl .smartphoto-dismiss {
  left: 10px;
  right: auto;
}

@media screen and (max-device-width: 767px) {
  .rtl.sidenav-toggled.sidenav-toggled1 .slide-item {
    padding: 10px 65px 10px 10px !important;
  }
}

/******************RTL End*************************/
@media screen and (max-width: 767px) {
  .fc .fc-toolbar {
    display: block !important;
  }
  .fc-toolbar-chunk:last-child {
    text-align: left !important;
  }
  .rtl .fc-toolbar-chunk:last-child {
    text-align: right !important;
  }
}

.dataTables_wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 28px !important;
}

.dataTables_wrapper .select2-container {
  width: 50% !important;
}

.panel-footer {
  border-top: 0;
}

.header .dropdown-menu {
  right: 8px;
}

.rtl .header .dropdown-menu {
  left: 8px !important;
}

.rtl .slide.is-expanded .angle {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.table .bg-secondary th {
  color: #fff;
}

@media screen and (max-width: 320px) {
  .rtl .header-right #navbarSupportedContent-4 .nav-link {
    margin: 0;
  }
}

.brick img {
  border-radius: 5px;
}

.timelineleft-body img {
  border-radius: 5px;
}

#candlechart .dygraph-legend {
  margin-left: 95px;
}

.thumbimg {
  border-radius: 4px;
}

.nav1 .nav-link.active {
  border-radius: 4px;
}

.nav1.bg-primary {
  border-radius: 4px;
}

.tooltip {
  z-index: 99;
}

.rtl .header-1 .header .nav-tabs .nav-item i,
.rtl .header-2 .header .nav-tabs .nav-item i,
.rtl .header-3 .header .nav-tabs .nav-item i,
.rtl .header-4 .header .nav-tabs .nav-item i {
  margin-right: 0;
  margin-left: 0.5rem;
}

.select2-sm .select2-container--default .select2-selection--single .select2-selection__arrow b {
  top: 49% !important;
}

#basicwizard,
#btnwizard,
#progressbarwizard {
  overflow: hidden;
}

#example2_wrapper table.dataTable tfoot td,
#example2_wrapper table.dataTable tfoot th {
  border-top: 1px solid #e8ebf3 !important;
}

.timelineleft > li > .timelineleft-item > .timelineleft-header {
  border-bottom: 0 !important;
}
/*# sourceMappingURL=admin-custom.css.map */